<table>
  <thead>
    <tr>
      <th></th>

      <th #body>
        <timeline></timeline>
      </th>
    </tr>
  </thead>

  <tbody [class.changing]="isChanging">
    <tr *ngFor="let weekday of weekdays">
      <th>{{ weekday }}</th>

      <td
        (mousemove)="onMouseMove($event, weekday)"
        (dblclick)="onDblClick(weekday, $event)"
      >
        <task *ngFor="let task of weekdayTasks(weekday)" [task]="task"></task>
      </td>
    </tr>
  </tbody>
</table>

<div>
  {{ resizingTask | json }}
</div>
