:host
  color: var(--color)
  display: flex
  padding: 0 2px
  position: absolute
  top: 50%
  transform: translateY(-50%)

  &[hovering='beginning'] .timing::before,
  &[moving-anchor='beginning'] .timing::before,
  &[hovering='end'] .timing::after,
  &[moving-anchor='end'] .timing::after,
  &[moving-anchor='middle'] .timing::after
    opacity: .7
    transform: scaleX(1)


  &[moving-anchor='middle'] .timing::before,
  &[moving-anchor='beginning'] .timing::before
    opacity: .7
    transform: perspective(100px) translateX(-2px) scaleX(.9) rotateY(-180deg)

  &[moving-anchor='middle'] .timing::after,
  &[moving-anchor='end'] .timing::after
    opacity: .7
    transform: perspective(100px) translateX(2px) scaleX(.9) rotateY(180deg)

  &:hover .timing .icon
    transform: scale(1.2)

  .timing
    align-items: center
    animation: translate-x-in .2s ease forwards, opacity-in .3s ease forwards
    background: rgba(var(--theme-opposite), .1)
    box-shadow: var(--shadow)
    border-radius: 8px
    display: flex
    opacity: 0
    padding: 10px 14px
    pointer-events: none
    position: relative
    transform: translateX(-4px)
    width: 100%

    > *
      pointer-events: none

    .icon
      color: var(--plan-color)
      display: flex
      font-size: 1.2em
      margin-inline-end: 14px
      transition: all .1s ease

    main
      header
        line-height: 1em

        &.placeholder
          opacity: .5

      time
        display: block
        font-size: .8em
        opacity: .5