:host
  display: flex
  padding: 0 2px
  position: absolute
  top: 50%
  transform: translateY(-50%)

  .timing
    align-items: center
    background: white
    border: 2px solid currentColor
    border-radius: 8px
    display: flex
    pointer-events: none
    width: 100%

    > *
      pointer-events: none

    header
      color: #343434
      padding: 8px