<modal-body>
  <ng-container header>
    <button class="small" (click)="removeTiming()">
      <icon name="trash"></icon>
    </button>
  </ng-container>

  <header>
    <!-- <icon-picker></icon-picker> -->

    <color-picker
      [color]="_color"
      (colorChange)="colorChanged($event)"
    ></color-picker>

    <input
      #title
      type="text"
      [(ngModel)]="_title"
      [placeholder]="placeholder"
      (keyup.enter)="save()"
      autofocus
    />
  </header>

  <section>
    <table class="properties">
      <tr>
        <th>Weekly</th>
        <td>{{ weeklyTiming * blockDuration | taskTime }}</td>
      </tr>
    </table>
  </section>

  <section>
    <table class="timings">
      <tr
        *ngFor="let planTiming of planTimings"
        [class.current-timing]="planTiming === timing"
      >
        <th>{{ planTiming.time.weekday }}</th>

        <td>
          {{ planTiming.time.from * blockDuration | taskTime }} -
          {{ planTiming.time.to * blockDuration | taskTime }}

          <span class="timing-duration">
            {{ planTiming.time.duration * blockDuration | taskTime }}
          </span>
        </td>
      </tr>
    </table>
  </section>

  <ng-container footer>
    <button (click)="save()">
      <icon name="trash"></icon>
      <span>Save</span>
    </button>
  </ng-container>
</modal-body>
