<div class="board">
  <header>
    <div class="row timeline">
      <header></header>

      <main #body>
        <timeline></timeline>
      </main>
    </div>
  </header>

  <main>
    <div
      *ngFor="let breakpoint of breakpoints"
      [style.color]="breakpoint.color.hsl"
      [style.left]="getBreakpointOffset(breakpoint)"
      class="breakpoint-line"
    ></div>

    <div
      class="row weekday"
      *ngFor="let weekday of weekdays"
      [class.today]="weekday === currentWeekday"
    >
      <header>{{ weekday }}</header>

      <main
        [style.cursor]="cursor"
        (dblclick)="addTiming(weekday, $event)"
        (mousemove)="onMouseMove($event)"
        (mousemove)="moveTimingToWeekday(weekday)"
      >
        <plan-timing
          *ngFor="let timing of getWeekdayTimings(weekday)"
          [timing]="timing"
        ></plan-timing>
      </main>
    </div>
  </main>
</div>
