
:host
  background: var(--background-accent)
  border-radius: 100px
  display: flex
  overflow: hidden
  position: relative
  user-select: none

  .chunk
    flex: 1
    font-family: monospace
    opacity: .5
    padding: 4px 8px
    text-align: right

    &:last-of-type
      flex: unset

  .caret
    background: #0005
    display: block
    height: 100%
    opacity: 0
    position: absolute
    top: 0
    transition: left .2s linear, opacity .3s ease
    width: 1px

    &.show
      opacity: 1
