<nav>
  <div class="hovered-time" [style.left]="caretOffset">
    <span>{{ hoveredTime | taskTime }}</span>
  </div>
</nav>

<main>
  <div
    *ngFor="let hour of planHoursArray"
    class="hour"
    [class.hovered-on]="hour === hoveredHour"
  >
    <span>{{ hour }}</span>
  </div>

  <span
    class="caret"
    [style.left]="caretOffset"
    [class.show]="showCaret"
    [class.at-beginning]="isCaretAtBeginning"
    [class.at-end]="isCaretAtEnd"
  ></span>

  <div
    *ngFor="let breakpoint of breakpoints"
    [style.color]="breakpoint.color.hsl"
    [style.left]="getBreakpointOffset(breakpoint)"
    [title]="breakpoint?.name"
    class="breakpoint-icon"
  >
    <span></span>
  </div>
</main>
