
:host
  background: #eee
  border-radius: 100px
  display: flex
  position: relativei
  user-select: none

  .chunk
    flex: 1
    font-family: monospace
    opacity: .5
    padding: 4px 8px

    &:last-child
      flex: unset
