
:host
  background: var(--background)
  border: solid 1px var(--border-color)
  border-radius: var(--radius)
  box-shadow: 0 4px 8px -2px #0001
  cursor: pointer
  display: flex
  padding: 8px
  transition: box-shadow .3s ease, transform .3s ease
  user-select: none

  &:hover
    box-shadow: 0 4px 10px 0 #0001
    transform: translateY(-3px)

  > *
    pointer-events: none

  .bar
    color: #eee
    background: currentColor
    border-radius: 100px
    margin-right: 8px
    width: 5px

  main
    flex: 1

    header
      font-weight: bold
      margin-bottom: 4px

    footer
      display: flex
      font-family: monospace
      width: 100%

      span
        &.margin
          margin-right: 8px

        + span
          margin-left: 4px

        &:nth-child(even)
          opacity: .5

        &:last-child
          margin-left: auto !important
