<!-- <div class="task">
  <div class="bar" [style.color]="color.hsl"></div>

  <main>
    <header *ngIf="title">{{ title }}</header>
    <header *ngIf="!title" class="placeholder">Task {{ id }}</header>

    <footer>
      <span>{{ time.from | taskTime }}</span>
      <span>/</span>
      <span class="margin">{{ time.to | taskTime }}</span>

      <span class="diration">{{ time.duration | taskTime }}</span>
    </footer>
  </main>
</div> -->

<div class="task">
  <div class="bar"></div>

  <main>
    <header>title</header>

    <footer>
      <span>00</span>
      <span>/</span>
      <span class="margin">00</span>

      <span class="diration">00</span>
    </footer>
  </main>
</div>
